.sidebar{
    width: 400px;
    overflow: hidden;
    
}

.sidebar--img{
    text-align: center;
}

.sidebar--img img{
    width:20px;
    height: 20px;
    margin-right: 10px;
}


.sidebar ul{
    list-style-type: none;
    display: inline-block;
    
}

.sidebar--photo{
    width: 100%;
}

.sidebar--body{
    width: auto;
    margin-left:20px;

}

.sidebar--body h6{
    text-align: center;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

.sidebar--body p{
    font-size: 12px;
}

.sidebar--list{
    text-align: center;
}

.list-right{
    margin-left: 20px;
}

.list-left{
    margin-right: 20px;
}
